#drawer{
  z-index: 2;
  top:auto;
  bottom:100%;
  left:0;
  width:450px;
  padding:0;
  position: absolute;
  background-color: #e6e6e6;
}
#drawer a{
  display: block;
  color: black;
  text-align: left;
  border-radius: 0;
  padding:10px 10px;
  margin:2px 0;
}
