.page {
  height:100vh;
  width:100%;
  display: flex;
  flex-flow: column;
}
.content{
  padding: 5% 0;
  width:100%;
  flex-grow: 1;
  overflow:auto;
  text-align: center;
  margin: 0 auto;
}
*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color:inherit;
}
a:hover{
  color:#EF3C5B;
}
